// scss for the page colors

// colors for huemint palette cards
$textlight: whitesmoke;
$textdark: #1e1e1e;
$card-btn-top: #2e9394;
$card-btn-bottom: #bfd3c3;

// color for primary text
.primary_text_color1 {
    color: #f5f5f5;
}

.primary_text_color2 {
    color: #f5f5f5;
}

.primary_text_color3 {
    color: #f5f5f5;
}

.primary_text_color4 {
    color: #f5f5f5;
}

.primary_text_color5 {
    color: #f5f5f5;
}

// color for text
.text_color1 {
    color: #f8f7fa;
}

.text_color2 {
    color: #8b8c88;
}

.text_color3 {
    color: #00e8c4;
}

.text_color4 {
    color: #8e00a9;
}

.text_color5 {
    color: #f3d6b5;
}

// color for backgrounds
.background_color1 {
    background-color: #f8f7fa;
}

.background_color2 {
    background-color: #8b8c88;
}

.background_color3 {
    background-color: #00e8c4;
}

.background_color4 {
    background-color: #8e00a9;
}

.background_color5 {
    background-color: #f3d6b5;
}

// color for borders
.border_color1 {
    border-color: #f8f7fa;
}

.border_color2 {
    border-color: #8b8c88;
}

.border_color3 {
    border-color: #00e8c4;
}

.border_color4 {
    border-color: #8e00a9;
}

.border_color5 {
    border-color: #f3d6b5;
}