// scss for the page colors

// colors for huemint palette cards
$textlight: whitesmoke;
$textdark: #1e1e1e;
$card-btn-top: #2e9394;
$card-btn-bottom: #bfd3c3;

// color for primary text
.primary_text_color1 {
    color: #f5f5f5;
}

.primary_text_color2 {
    color: #f5f5f5;
}

.primary_text_color3 {
    color: #f5f5f5;
}

.primary_text_color4 {
    color: #f5f5f5;
}

.primary_text_color5 {
    color: #f5f5f5;
}

// color for text
.text_color1 {
    color: #f0d5a8;
}

.text_color2 {
    color: #3e1d09;
}

.text_color3 {
    color: #d37a26;
}

.text_color4 {
    color: #d6a12c;
}

.text_color5 {
    color: #9f5a2e;
}

// color for backgrounds
.background_color1 {
    background-color: #f0d5a8;
}

.background_color2 {
    background-color: #3e1d09;
}

.background_color3 {
    background-color: #d37a26;
}

.background_color4 {
    background-color: #d6a12c;
}

.background_color5 {
    background-color: #9f5a2e;
}

// color for borders
.border_color1 {
    border-color: #f0d5a8;
}

.border_color2 {
    border-color: #3e1d09;
}

.border_color3 {
    border-color: #d37a26;
}

.border_color4 {
    border-color: #d6a12c;
}

.border_color5 {
    border-color: #9f5a2e;
}